<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Shop </title>
	<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
	<!-- Custom Theme files -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--Google Fonts-->
	<link th:href='@{//fonts.googleapis.com/css?family=Hind:400,500,300,600,700}' rel='stylesheet' type='text/css'>
	<link th:href='@{//fonts.googleapis.com/css?family=Oswald:400,700,300}' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->
	<script th:src="@{js/simpleCart.min.js}"> </script>
	<script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<!--header strat here-->
<th:block th:insert="/page/navbar.html"></th:block>
<!--header end here-->
<!--log in start here-->
<div class="login">
	<div class="container">
		<div class="login-main">
			  <h1>Login</h1>
		  <div class="col-md-6 login-left">
			<h2>Existing User</h2>
			<form th:action="@{/login}" th:object="${login}" method="post">
				<input type="text" placeholder="Username" th:field="*{username}" required="">
				<p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
				<input type="password" placeholder="Password" th:field="*{password}" required="">
				<p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				<input type="submit" value="Login">
			</form>
		  </div>
		  <div class="col-md-6 login-right">
		  	 <h3>New User? Create an Account</h3>
		  	 <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system. and expound the actual teachings of the great.</p>
		     <a th:href="@{/signup}" class="login-btn">Create an Account </a>
		  </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--log in end here-->
<!--footer strat here-->
<th:block th:insert="/page/footer.html"></th:block>
<!--footer end here-->
</body>
</html>