<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shop </title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
  <!-- Custom Theme files -->
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <!--Google Fonts-->
  <link th:href='@{//fonts.googleapis.com/css?family=Hind:400,500,300,600,700}' rel='stylesheet' type='text/css'>
  <link th:href='@{//fonts.googleapis.com/css?family=Oswald:400,700,300}' rel='stylesheet' type='text/css'>
  <!-- start-smoth-scrolling -->
  <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
  <script type="text/javascript" th:src="@{/js/easing.js}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
      });
    });
  </script>
  <!-- //end-smoth-scrolling -->
  <script th:src="@{js/simpleCart.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2}"></script>
</head>
<body>
<!--header strat here-->
<th:block th:insert="/page/navbar.html"></th:block>
<!--header end here-->
<!--start-ckeckout-->
<div class="ckeckout">
  <div class="container">
    <div class="ckeckout-top">
      <div class=" cart-items heading">
        <div style="display: flex; justify-content: start;gap: 50px">
          <h1>My Order </h1>
          <h1 th:if="${orders == null}" > You don't have any orders yet</h1>
        </div>
        <div class="in-check">
          <ul class="unit">
            <li><span style="align-items: center">#</span></li>
            <li><span style="align-items: center">Phone</span></li>
            <li><span style="align-items: center">Address</span></li>
            <li><span style="align-items: center">Detail</span></li>
            <li><span style="align-items: center">Status</span></li>
            <div class="clearfix"></div>
          </ul>
          <ul class="cart-header simpleCart_shelfItem" th:each="o,loop:${orders}">
            <div th:if="${o.status == 'PENDING'}" class="close1" style="margin-top: 34px"></div>
            <li style="align-items: center"><span th:text="${loop.count}"></span></li>
            <li style="align-items: center"><span th:text="${o.phone}"></span></li>
            <li style="align-items: center"> <span th:text="${o.address}"></span></li>
            <li style="align-items: center">
              <span style="background: #ea572d;width: 70px;display: flex;justify-content: center" class="label label-primary"><a th:href="@{|/order/detail/${o.id}|}" style="color: white">Detail</a></span>
            </li>
            <li style="align-items: center"><span th:text="${o.status}"></span></li>
            <a th:if="${o.status == 'PENDING'}" th:href="|/cancel/${o.id}|"><div class="clearfix" ></div></a>
            <a th:if="${o.status != 'PENDING'}" ><a ><div  class="clearfix" ></div></a></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!--end-ckeckout-->
<!--footer strat here-->
<th:block th:insert="/page/footer.html"></th:block>
<!--footer end here-->
</body>
</html>